@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --font-titulo: "Oswald", sans-serif;
    --font-texto: "Lato", sans-serif;
    --azul-escuro: #0053A8;
    --azul-claro: #4389C5;
    --amarelo: #FEE620;
    --branco: #FFFFFF;
    --preto: #000000;
}

header {
    background-color: var(--azul-escuro);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo img {
    width: 195px;
    padding: 20px;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a{
    text-decoration: none;
    font-family: var(--font-texto);
    font-size: 1.3em;
    color: var(--branco);
    transition: .8s;
    padding: 15px;
    border-radius: 30px;
}

nav a:hover {
    text-shadow: 0px 0px 10px white;
}

.slider {
    width: 1300px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img {
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--azul-claro);
    color: var(--amarelo);
    border: none;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    filter: opacity(.7);
}

.buttons button:hover {
    background-color: var(--branco);
    color: var(--azul-escuro);
}

.dots {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: var(--amarelo);
    border: 1.2px solid var(--azul-escuro);
    margin: 20px;
    border-radius: 20px;
}

.dots li.active {
    width: 30px;
}