@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
     overflow-x: hidden;
}

body{
    background-color: #dddddd;
}

:root{
    --font-titulo: "Oswald", sans-serif;
    --font-texto: "Lato", sans-serif;
    --azul-escuro: #0053A8;
    --azul-claro: #4389C5;
    --amarelo: #FEE620;
    --branco: #FFFFFF;
    --preto: #000000;
}

header {
    background-color: var(--azul-escuro);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo img {
    width: 195px;
    padding: 20px;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a{
    text-decoration: none;
    font-family: var(--font-texto);
    font-size: 1.3em;
    color: var(--branco);
    transition: .8s;
    padding: 15px;
    border-radius: 30px;
}

nav a:hover {
    text-shadow: 0px 0px 10px white;
}

#inicio{
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(to bottom, var(--azul-escuro), rgb(50, 127, 242));
    box-shadow: -1px 14px 14px rgba(0, 0, 0, 0.18);
    display: flex;
    align-items: center;
}

.fraseInicio {
    margin: 10%;
    margin-bottom: 25%;
}

.fraseInicio h1 {
    font-size: 4em;
    font-family: var(--font-titulo);
    color: var(--branco);
}

.slider {
    width: 800px;
    max-width: 100vw;
    height: 400px;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 3%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img {
    width: 800px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--azul-claro);
    color: var(--amarelo);
    border: none;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    filter: opacity(.7);
}

.buttons button:hover {
    background-color: var(--branco);
    color: var(--azul-escuro);
}

.dots {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: var(--amarelo);
    border: 1.2px solid var(--azul-escuro);
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active {
    width: 30px;
}

/*Quem nós somos*/

section#sobre {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: center;
    background-color: var(--azul-escuro);
    border-top: 10px solid var(--amarelo);
    border-bottom: 10px solid var(--amarelo);
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.495);
    padding: 20px;
}

div.sobreConteudo {
    width: 700px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
}

div.titulo1 {
    margin: 20px;
}

div.titulo1 h1 {
    font-size: 5em;
    font-family: var(--font-titulo);
    color: var(--branco);
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.405);
}

div.textoSobre {
    margin: 15px;
    padding: 20px;
}

div.textoSobre p {
    font-size: 2em;
    color: var(--branco);
    text-align: justify;
}

span {
    color: var(--amarelo);
    font-weight: 700;
}

div.imgSobre img {
    width: 650px;
}

/*Cards*/

section#catalogo {
    margin-top: 100px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

section#catalogo h1 {
    font-family: var(--font-titulo);
    margin: 50px;
    font-size: 4em;
    color: var(--azul-claro);
    text-shadow: 2px 5px 8px rgb(255, 255, 255);
}

section#catalogo .botoesCategoria {
    display: flex;
}

section#catalogo .cards {
    margin: 40px;
    padding: 10px;
    width: 250px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.331);
    transition: .7s;
}

section#catalogo .imagemCard {
    display: flex;
    justify-content: center;
    padding: 20px;
}

section#catalogo .imagemCard i{
    font-size: 3em;
    color: var(--azul-escuro);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.409);
}

section#catalogo .nomeCard {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

section#catalogo .nomeCard p{
    font-size: 1.8em;
    font-weight: 600;
    font-family: var(--font-titulo);
    color: var(--azul-escuro);
    text-align: justify;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.235);
}

section#catalogo .des {
    padding: 10px;
    display: flex;
    justify-content: center;
}

section#catalogo .des p {
    font-size: 1em;
    font-weight: 600;
    font-family: var(--font-texto);
    color: var(--preto);
    text-align: justify;
}

/*hover dos cards*/

section#catalogo .cards:hover {
    transform: scale(1.3);
    background-color: var(--azul-escuro);
}

section#catalogo .cards:hover .imagemCard i{
    color: var(--amarelo);
}

section#catalogo .cards:hover .nomeCard p{
    color: var(--branco);
}

section#catalogo .cards:hover .des p{
    color: var(--branco);
}

/*Carrossel das marcas*/

section#marcas {
    margin-top: 300px;
}

section#marcas h1{
    font-family: var(--font-titulo);
    text-align: center;
    font-size: 4em;
    color: var(--azul-escuro);
}